:root {
  --bg-color: #f5f5f5;
  --text-color: #6c757d;
  --accent-color: #ffd333;
  --yellow-color: #d9a404;
  --contrast-color: #3d464d;
}

h1,h2,h3,h4,h5,h6 {
  color: var(--contrast-color);
}

* {
  font-family: "Roboto", sans-serif;
}
html, body {
  height: 100%;
}

body {
  min-width: 320px;
 
  background-color: var(--bg-color);
  color: var(--contrast-color);
}

a {
  color: var(--contrast-color);
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

h5 {
  color: var(--bg-color);
  font-weight: bold;
}
/*=================================ROOT RULES=====================================*/
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

main.main {
  flex: 1 1 auto;
}

.header_container, .body_container {
  
  min-height: 75%;
  max-width: 1380px;
  margin: 0 auto;
}

/*================================= Header Rules =====================================*/

/*--------------------------------- Header top -----------------------------------------*/



.header-top-phone a{
  font-weight: bold;
}

ul.social-icons {
  list-style: none;
  margin-bottom: 0;
  padding: 0;
}

ul.social-icons li {
  margin-right: 10px;
}

ul.social-icons a {
  background-color: var(--bg-color);
  color: var(--contrast-color);
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  float: left;
  text-align: center;
  transition: all .3s;
}

ul.social-icons a:hover {

  color: var(--yellow-color);
}


#btn-account {
  background-color: var(--bg-color);
  border: none;
  color: var(--contrast-color);
  font-weight: bold;
  padding-right: 0;
}

.dropdown-menu {
  border: none;
  -webkit-box-shadow: 0px 0px 8px -1px rgba(0,0,0,0.5); 
  box-shadow: 0px 0px 8px -1px rgba(0,0,0,0.1);
  z-index: 1;
  
}

.dropdown-menu li{
  --bs-dropdown-link-active-color: var(--yellow-color);
  --bs-dropdown-link-active-bg: #fff;
}

.dropdown-item {
 padding-top: 10px;
 padding-bottom: 10px;
 margin-left: 10px;
 margin-right: 10px;
}

.dropdown-item:hover {
  background: transparent;
  color: var(--yellow-color);
}
/* 
.dropdown-submenu {
        position: relative;
    } */
    
    .dropdown-submenu > .dropdown-menu {
        top: 0;
        left: 100%;
        margin-top: -8px;
        display: none;
        box-shadow: 3px 0px 8px 0px rgba(0,0,0,0.1);
        z-index: 0;

    }
    
    .dropdown-submenu:hover > .dropdown-menu {
        display: block;
    }
    
    .dropdown-arrow {
        margin-left: 10px;
        font-size: 1.2em;
    }

    .submenu {
        list-style: none;
        padding: 0;
        margin: 0;
    }
 
    

    
   
   

/*--------------------------------- Header middle -----------------------------------------*/
.header-middle_phone {
  display: none;
}

#header-logo {
  width: 320px;
}


.form-control {
  border-radius: 50px;
  border: 2px solid var(--text-color) ;
  
}

.form-control:focus {
  -webkit-box-shadow: 0px 8px 11px -1px rgba(116,116,116,0.53); 
  box-shadow: 0px 8px 11px -1px rgba(116,116,116,0.53);
  border: 2px solid var(--text-color);
}

ul.navbar {
  list-style: none;
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  margin-bottom: 0;
}
#btn-dropdown {
  background-color: var(--bg-color);
  border: none;
  color: var(--contrast-color);
  font-weight: bold;
  padding: 0;
}

.nav-link {
  color: var(--contrast-color);
  font-weight: bold;
  transition: all .3s;
}

.nav-link:hover {
  color: var(--yellow-color);
}

/*--------------------------------- Header running -----------------------------------------*/

.marquee {
  width: 100%;
  overflow: hidden;
  background-color: var(--bg-color);
  /* box-shadow: 0px 0px 10px -1px rgba(34, 60, 80, 0.2) inset; */
  color: var(--contrast-color); /* Цвет текста */
  white-space: nowrap; /* Запрещаем перенос текста */
  padding: 10px 0; /* Отступы сверху и снизу */
  font-weight: 500; /* Жирный шрифт */
  font-size: 1.2rem; /* Размер шрифта */
}

.marquee-content {
  display: inline-block;
  padding-left: 100%; /* Начальная позиция текста за пределами экрана */
  animation: marquee 60s linear infinite; /* Анимация бегущей строки */
}

.marquee-content span {
  margin-right: 50px; /* Отступ между сообщениями */
}

@keyframes marquee {
  0% {
      transform: translateX(0%); /* Начальная позиция текста */
  }
  100% {
      transform: translateX(-100%); /* Конечная позиция текста */
  }
}

.header-bottom {
  border: 1px solid #c6c8ca;
}
/*================================= Header Rules =====================================*/

/*================================= Section Welcome =====================================*/

/*--------------------------------- Slider -----------------------------------------*/

.slider {
  position: relative;
  width: 100%;
  margin: 20px auto;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  flex: 0 0 100%;
  width: 100%;
  object-fit: cover;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.5);
  color: #fff;
  border: none;
  width: 40px;          /* Добавлено */
  height: 40px;         /* Добавлено */
  font-size: 20px;
  cursor: pointer;
  z-index: 10;
  border-radius: 50%;   /* Круглая форма */
  display: flex;        /* Центровка иконки */
  align-items: center;
  justify-content: center;
  user-select: none;
}

.prev:hover,
.next:hover {
  background-color: rgba(0,0,0,0.7);
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}


/* Кнопка */
.toggle-btn {
  background-color: #f0f0f0;
  border: none;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  cursor: pointer;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s;
}

.toggle-btn:hover {
  background-color: #ddd;
}

/* Модальное окно */
.modal {
  display: none;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.5);
}

.modal-content {
  background-color: #fff;
  margin: 10% auto;
  padding: 30px;
  border-radius: 12px;
  width: 90%;
  max-width: 500px;
  box-shadow: 0 4px 16px rgba(0,0,0,0.2);
  animation: fadeInModal 0.3s ease;
}

@keyframes fadeInModal {
  from { opacity: 0; transform: scale(0.95); }
  to { opacity: 1; transform: scale(1); }
}

.close {
  color: #aaa;
  float: right;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover {
  color: black;
}

.aboutUs-cards {
  display: flex;
  gap: 30px;  /* Расстояние между карточками */
  flex-wrap: wrap;  /* Для мобильных устройств карточки будут переходить на следующую строку */
}

.h4-cardinfo {
  cursor: pointer;
}

.h4-cardinfo:hover {
  color: var(--yellow-color);
}

.aboutUs-cards {
  display: flex;
  justify-content: space-between;
  gap: 20px;  /* Расстояние между карточками */
  flex-wrap: wrap;  /* Для мобильных устройств карточки будут переходить на следующую строку */
}

.aboutUs-cardinfo {
  background-color: #fff;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s;
  text-align: center;
  width: 320px;  /* Устанавливаем фиксированную ширину */
  
}

.aboutUs-cardinfo:hover {
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.15);
}
/*================================= Section Welcome =====================================*/

/*================================= Section Brands =====================================*/

.brand-card img {
  width: 210px;
  height: 100px;
  border-radius: 12px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .3s;
}

.brand-card img:hover {
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.15);
}


/* Контейнер для всех карточек товаров */
.product-container {
  display: flex;     /* Используем Flexbox */
  flex-wrap: wrap;   /* Разрешаем перенос элементов на новые строки */
  justify-content: space-between; /* Равномерное распределение карточек */
  gap: 20px;         /* Отступы между карточками */
}

/* Стиль для карточки товара */
.product-card {
  position: relative;
  width: calc(20% - 20px); /* 5 карточек в ряд с учетом отступа */
  border-radius: 8px;
  overflow: hidden;
  transition: all 0.3s ease;
  background-color: #fff;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s;
}

.product-card:hover .add-to-fav {
  display: block;
  
}

.add-to-fav:hover {
  font-weight: 900;
  color: #8c2f26;
}

.product-image {
  width: 100%;
  height: auto;
  display: block;
  transition: transform 0.3s ease;
}

.product-info {
  padding: 15px;
}

.product-name {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.product-description {
  font-size: 16px;
  color: var(--text-color);
  margin-bottom: 10px;
}

.product-price {
  font-size: 16px;
  font-weight: bold;
  color: var(--contrast-color);
}

/* Кнопка "Добавить в корзину" по умолчанию скрыта */
.add-to-cart {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(100%);
  width: 50px;
  height: 50px;
  background-color: var(--yellow-color);
  color: var(--bg-color);
  border: none;
  border-radius: 100%;
  display: none; /* Скрыть кнопку */
  cursor: pointer;
  transition: color 0.3s ease;
}

.add-to-cart:hover {
  background-color: transparent;
  border: 2px solid var(--yellow-color);
  color: var(--yellow-color);
  
}


.btn-delete-cart {
  background-color: transparent;
  border: none;
  margin-right: 20px;
  font-weight: 500;
  color: #e74c3c;
  transition: all .3s;
}

.btn-delete-cart:hover {
  color: #8c2f26;
}


.btn-quantit {
  background-color: transparent;
  border: 1px solid var(--contrast-color);
  border-radius: 5px;
  width: 30px;
  height: 30px;
  font-weight: 500;
  font-size: 18px;
  transition: all .3s;
}

.btn-quantit:hover {
  background-color: var(--text-color);
  
}

.add-to-fav {
  position: absolute;
  bottom: 10px;
  left: 5%;
  transform: translateX(10%);
  width: 50px;
  height: 50px;
  background-color: transparent;
  color: #e74c3c;
  border: none;
  border-radius: 100%;
  display: none;
  cursor: pointer;
  transition: color 0.3s ease;
}

/* ФОРМЫ В КОРЗИНЕ */
.card-cart {
  background-color: #fff;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s;
}

.btn-go {
  width: 100%;
  border: 2px solid var(--accent-color);
  border-radius: 50px;
  padding: 5px;
  margin-top: 5px;
  font-weight: bold;
  font-size: 18px;
  background-color: var(--accent-color);
  color: var(--contrast-color);
  transition: all .3s;
}

.btn-go:hover {
background-color: transparent;
}


.card-order-opt {
  border: 2px solid var(--contrast-color);
  border-radius: 20px;
  padding: 20px;
  height: auto;
  cursor: pointer;
}

.card-body-order {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}


/* КНОПКА ВЫБОРА ДАТ */

.date-picker {
  width: 100%;
}

.date-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 колонки равной ширины */
  gap: 10px; /* Расстояние между кнопками */
}

.btn-date {
  min-width: 180px;
  padding: 10px 15px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 500;
  transition: all 0.2s ease;
  text-align: center;
  border: 2px solid var(--contrast-color);
  outline: none;
  
}


/* Стиль для выбранной даты */
.btn-date.btn-primary {
  background-color: transparent;
  border-color: var(--contrast-color);
  color: var(--contrast-color);
}


.btn-date:focus, 
.btn-date:active {
    box-shadow: none !important;
    background-color: transparent !important;
    color: var(--contrast-color) !important;
    transform: none;
    border: 2px solid var(--contrast-color) !important;
    
}


/* Стиль для невыбранных дат */
.btn-date.btn-outline-primary {
  background-color: transparent;
  border: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s;
  color: var(--contrast-color);
}

/* Эффекты при наведении */
.btn-date.btn-outline-primary:hover {
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.15);
}


/* Доставка курьером */

.card-cart-cur {
  background-color: #fff;
  border-radius: 20px;
  padding: 22px;
  height: auto;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s;
  cursor: pointer;
}

.card-cart-cur:hover {
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.15);
}

.card-map {
  border-radius: 20px;
  padding: 20px;
}



.product-card:hover {
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.15);
}
  
.product-card:hover .add-to-cart {
  display: block; /* Показать кнопку при наведении */
}

/* МОДАЛЬНОЕ ОКНО ДОСТАВКИ */

input, select, textarea {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
}

#deliveryTime {
  border: 2px solid var(--text-color);
  border-radius: 50px;
  padding-left: 12px;
}

#comment {
  padding-left: 20px;
  padding-top: 10px;
}

/* ХЛЕБНЫЕ КРОШКИ */

.breadcrumb {
  background-color: transparent;
  padding: 0.75rem 0;
  margin-bottom: 1rem;
}
.breadcrumb-item + .breadcrumb-item::before {
  content: "/";
  padding: 0 0.5rem;
}
.breadcrumb-item a {
  color: #6c757d;
  text-decoration: none;
}
.breadcrumb-item.active {
  color: #495057;
}

.breadcrumb-item a:hover {
  color: #495057;
  text-decoration: none;
}

/* КАРТОЧКИ ЗАКАЗОВ */
.order-card {
  background-color: #fff;
  border-radius: 20px;
  height: auto;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s;
  cursor: pointer;
}

.order-card:hover {
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.15);
}

.order-items {
  max-height: 200px;
  overflow-y: auto;
  padding-right: 10px;
}
.order-items::-webkit-scrollbar {
  width: 5px;
}
.order-items::-webkit-scrollbar-thumb {
  background: #ddd;
  border-radius: 10px;
}
.badge {
  font-size: 0.8rem;
  padding: 0.35em 0.65em;
  font-weight: 500;
}


/* МЕНЮ ФИЛЬТРА ЗАКАЗОВ */

 /* Базовые стили для radio-кнопок */
 .form-check-input {
  width: 1.1em;
  height: 1.1em;
  margin-top: 0.2em;
}

.form-check-label {
  padding-left: 0.5em;
  font-weight: 500;
}

/* Кастомизация radio-кнопок */
.form-check-input:checked {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}

.form-check-input:focus {
  box-shadow: 0 0 0 0.25rem rgba(197, 148, 2, 0.25);
}


.badge-status {
  color: var(--bg-color);
  font-weight: 500;
  width: 110px;
  text-align: center;
  padding: 2px;
  border-radius: 5px;
}





footer p {
  color: var(--bg-color);
  font-weight: bold;
}

/* ЛОГИН И РЕГИСТРАЦИЯ */

.auth-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form-auth {
  width: 450px;
  flex-wrap: wrap;
  background-color: #fff;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s;
  
}
.form-auth label {
  font-weight: bold;
  text-align: left;
}


.form-auth input {
  border: 2px solid var(--text-color);
  border-radius: 50px;
  padding: 10px;
  width: 400px;
  margin-top: 5px;
}

.form-auth input:focus {
  -webkit-box-shadow: 0px 8px 11px -1px rgba(116,116,116,0.53); 
  box-shadow: 0px 8px 11px -1px rgba(116,116,116,0.53);
  border: 2px solid var(--text-color);
  outline: none;
}
.btn-position  {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


.btn-auth {
  border: 2px solid var(--contrast-color);
  border-radius: 50px;
  padding: 5px;
  margin-top: 5px;
  width: 50%;
  font-weight: bold;
  font-size: 18px;
  background-color: var(--contrast-color);
  color: var(--bg-color);
  transition: all .3s;
}

.btn-auth:hover {
  background-color: var(--yellow-color);
  border: 2px solid var(--yellow-color);
  color: var(--contrast-color);

}

.form-check {
  display: flex;
  align-items: center;

}
.form-check input {
  width: 10px;
}


.form-check label {
  margin-left: 10px;
  margin-top: 3px;
}

/* ПРОСМОТР ПАРОЛЯ */

.password-wrapper {
  position: relative;
} 

.toggle-password {
  position: absolute;
  top: 50%;
  right: 25px;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 1.2rem;
  color: #888;
}

.toggle-password:hover {
  color: var(--yellow-color);
}


.toggle-password_login {
  position: absolute;
  top: 40%;
  right: 18px;
  transform: translateY(-130%);
  cursor: pointer;
  font-size: 1.2rem;
  color: #888;
}

.toggle-password_login:hover {
  color: var(--yellow-color);
}



/* ЛИЧНЫЙ КАБИНЕТ */
.profile-card {
  border-radius: 8px;
  overflow: hidden;
  transition: all 0.3s ease;
  background-color: #fff;
  border: none;
  border-radius: 12px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s;
}

.profile-info {
  border-bottom: 1px solid #eee;
  padding-bottom: 15px;
  margin-bottom: 20px;
}
.bonus-badge {
  background-color: #ffc107;
  color: #000;
}

#quant {
  margin-left: 8px;
  background-color: var(--yellow-color); 
  
}


.modal-backdrop {
  z-index: 1040 !important;
}
.modal {
  z-index: 1050 !important;
}
body.modal-open {
  overflow: auto !important;
  padding-right: 0 !important;
}


/* Кастомные стили для аккордеона */
        .accordion-button:not(.collapsed) {
            background-color: var(--accent-color);
            color: #000;
            box-shadow: inset 0 -1px 0 rgba(0,0,0,.125);
        }
        .accordion-button:focus {
            box-shadow: 0 0 0 0.25rem rgba(135, 144, 0, 0.431);
            border-color: #b09b12;
        }
        .accordion-button {
            font-weight: 600;
        }
        .accordion-item {
            margin-bottom: 20px;
            border: 1px solid #dee2e6;
            border-radius: 0.375rem;
            overflow: hidden;
            
        }

        
.news-links {
  display: flex;
  gap: 30px;
}

.news-link {
  color: var(--contrast-color);
  text-decoration: none;
  font-weight: 600;
  font-size: 1.7rem;
  transition: all 0.3s ease;
}

.news-link:hover,
.news-link.active {
  color: var(--yellow-color);
}

/* Стили для карточки новости */
.card {
  border: none;
  border-radius: 8px;
  overflow: hidden;
  transition: all 0.3s ease;
  background-color: #fff;
  border-radius: 12px;
  padding: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.card:hover {
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.15);
  
}

.card-img-top {
  width: 100%;
  border-radius: 8px;
  height: 200px;
  object-fit: cover;
}

.news-date {
  color: #6c757d;
  font-size: 0.85rem;
  margin-bottom: 0.5rem;
}

.news-title {
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 0.75rem;
  color: #343a40;
  line-height: 1.3;
}

.news-description {
  color: #495057;
  margin-bottom: 1.25rem;
  font-size: 0.95rem;
  line-height: 1.5;
}

.read-more {
  color: var(--yellow-color);
  text-decoration: none;
  font-weight: 600;
  font-size: 0.9rem;
  display: inline-flex;
  align-items: center;
  transition: color 0.3s ease;
}

.read-more:hover {
  color: var(--text-color);
}


.carousel-control-prev,
.carousel-control-next {
  background-color: var(--contrast-color);
  height: 40px;
  width: 40px;
  border-radius: 50px;
  padding: 10px;
  display: flex;
  align-items: center;
  margin-top: 250px;

}


.product-title {
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 15px;
    }

    .price-section {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px;
      background-color: #f7f7f7;
      padding: 15px;
      border-radius: 8px;
    }

    .current-price {
      font-size: 28px;
      font-weight: bold;
      color: var(--contrast-color);
    }

    .product-actions .btn {
      padding: 10px 20px;
    }

    .spec-item {
      display: flex;
      margin-bottom: 10px;
    }

    .spec-name {
      font-weight: bold;
      width: 50%;
      color: #666;
    }

    .btn-add-cart-full {
  
    background-color: var(--yellow-color);
    border: none;
    color: var(--bg-color);
    font-size: 1.3rem;
    font-weight: 500;
    border: none;
    border-radius: 8px;
    padding: 8px; 
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
    
    }

    .btn-add-cart-full:hover {
      background-color: #b09b12;
    }

    


    .btn-add-fav-full {
      background-color: #e74c3c;
      border: 2px solid #e74c3c;
      color: var(--bg-color);
      border-radius: 8px;
      padding: 10px;
    }


    /* Стили для звезд рейтинга */
.rating-stars {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

.rating-stars input {
    display: none;
}

.rating-stars label {
    font-size: 24px;
    color: #ddd;
    cursor: pointer;
    padding: 0 3px;
}

.rating-stars input:checked ~ label,
.rating-stars label:hover,
.rating-stars label:hover ~ label {
    color: #ffc107;
}

/* Стили для отзывов */
.review-item {
    background-color: #f9f9f9;
}

.review-photos img {
    transition: transform 0.3s;
}

.review-photos img:hover {
    transform: scale(1.05);
}


.rating-edit {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

.rating-edit input {
    display: none;
}

.rating-edit label {
    font-size: 1.8rem;
    color: #ddd;
    cursor: pointer;
    padding: 0 5px;
}

.rating-edit input:checked ~ label,
.rating-edit label:hover,
.rating-edit label:hover ~ label {
    color: #ffc107;
}

    
    
/*================================= ADAPTIV =====================================*/
/* 
.mobile-bottom-nav {
  display: none;
}

/* Показать только на экранах до 768px */
@media (max-width: 768px) {
  /* .mobile-bottom-nav {
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
  } */

  .header_container, .body_container {
    min-height: 100%;
    max-width: 90%;
    margin: 0 auto;
  }

  /* header-top */
/*   
  #btn-account {
   display: none;
  }

  .header-top {
    display: none;
  } */

  /* header-middle */

  .header-middle_logo i,a {
   font-size: 14px;
   display: flex;
   font-weight: bold;
  }


  #header-logo {
    width: 400px;
  }
  
  
  .form-control {
    margin-top: 20px;
    border-radius: 50px;
    border: 2px solid var(--text-color) ;
    
  }
  
  .form-control:focus {
    -webkit-box-shadow: 0px 8px 11px -1px rgba(116,116,116,0.53); 
    box-shadow: 0px 8px 11px -1px rgba(116,116,116,0.53);
    border: 2px solid var(--text-color);
  }

  .header-middle_nav {
    margin-top: 10px;
  }
  
  ul.navbar {
    list-style: none;
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    margin-bottom: 0;
  }
  #btn-dropdown {
    background-color: var(--bg-color);
    border: none;
    color: var(--contrast-color);
    font-weight: bold;
    padding: 0;
  }
  
  .nav-link {
    font-weight: bold;
    transition: all .3s;
  }
  
  .nav-link:hover {
    color: var(--yellow-color);
  }
  

 /* -------------------------------FOOTER-------------------------------- */

 .map-city iframe{
  width: 340px;
  height: 350;
 }


 /* ---------------------------SLIDER----------------------- */

 .slider {
  position: relative;
  width: 100%;
  margin: 20px auto;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.slides {
  height: 200px;
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  flex: 0 0 100%;
  width: 110%;
  object-fit: fill;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.5);
  color: #fff;
  border: none;
  width: 40px;          /* Добавлено */
  height: 40px;         /* Добавлено */
  font-size: 20px;
  cursor: pointer;
  z-index: 10;
  border-radius: 50%;   /* Круглая форма */
  display: flex;        /* Центровка иконки */
  align-items: center;
  justify-content: center;
  user-select: none;
}

.prev:hover,
.next:hover {
  background-color: rgba(0,0,0,0.7);
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}


/* -----------------------------------------BRANDS---------------------------- */

.brand-card img {
  width: 200px;
  height: 100px;
  border-radius: 12px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .3s;
}

.brand-card img:hover {
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.15);
}


/* -----------------------------PRODUCT-CARD ----------------------------*/

.product-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: start;
}

.product-card {
  flex: 0 1 calc(100% - 0px); /* по умолчанию на мобилках — одна на строку */
  max-width: 100%;
  border: 1px solid #ccc;
  padding: 15px;
  box-sizing: border-box;
}

/* Кнопка "Добавить в корзину" по умолчанию скрыта */
.add-to-cart {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(170%);
  width: 50px;
  height: 50px;
  background-color: var(--yellow-color);
  color: var(--bg-color);
  border: none;
  border-radius: 100%;
  cursor: pointer;
}

.add-to-cart:active {
  background-color: transparent;
  border: 2px solid var(--yellow-color);
  color: var(--yellow-color);
  
}

.product-card:active {
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.15);
}


/* РЕГИСТРАЦИЯ И ВХОД */

.auth-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form-auth {
  width: 100%;
  flex-wrap: wrap;
  background-color: #fff;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s;
  
}
.form-auth label {
  font-weight: bold;
  text-align: left;
}


.form-auth input {
  border: 2px solid var(--text-color);
  border-radius: 50px;
  padding: 10px;
  width: 100%;
  margin-top: 5px;
}

.form-auth input:focus {
  -webkit-box-shadow: 0px 8px 11px -1px rgba(116,116,116,0.53); 
  box-shadow: 0px 8px 11px -1px rgba(116,116,116,0.53);
  border: 2px solid var(--text-color);
  outline: none;
}
.btn-position  {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}


.btn-auth {
  border: 2px solid var(--contrast-color);
  border-radius: 50px;
  padding: 5px;
  margin-top: 10px;
  width: 100%;
  height: 10%;
  font-weight: bold;
  font-size: 18px;
  background-color: var(--contrast-color);
  color: var(--bg-color);
  transition: all .3s;
}

.btn-auth:hover {
  background-color: var(--yellow-color);
  border: 2px solid var(--yellow-color);
  color: var(--contrast-color);

}

.form-check {
  display: flex;
  align-items: center;

}
.form-check input {
  width: 10px;
}


.form-check label {
  margin-left: 10px;
  margin-top: 3px;
}

/* ПРОСМОТР ПАРОЛЯ */

.password-wrapper {
  position: relative;
} 

.toggle-password {
  position: absolute;
  top: 50%;
  right: 25px;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 1.2rem;
  color: #888;
}

.toggle-password:hover {
  color: var(--yellow-color);
}


.toggle-password_login {
  position: absolute;
  top: 40%;
  right: 18px;
  transform: translateY(-130%);
  cursor: pointer;
  font-size: 1.2rem;
  color: #888;
}

.toggle-password_login:hover {
  color: var(--yellow-color);
}

#frgt-psswrd {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


}

/*================================= ADAPTIV =====================================*/
